{:paths ["src" "resources"]
 :deps  {org.clojure/clojure  {:mvn/version "1.12.0"}
         datastar/expressions {:git/url "https://github.com/ramblurr/datastar-expressions/"
                               :git/sha "8db9d4bf5a178912ca173f67671fd9dba6b14f90"}
         funcool/cuerdas      {:mvn/version "2023.11.09-407"}
         com.taoensso/nippy   {:mvn/version "3.6.0-alpha1"}
         hifi/html            {:local/root "../../libs/hifi-html"}
         hifi/system          {:local/root "../../libs/hifi-system"}}

 :aliases {:dev     {:extra-deps {djblue/portal {:mvn/version "0.59.0"}}
                     :jvm-opts
                     ["-Dhifi.profile=dev"
                      "-Djdk.attach.allowAttachSelf" ;; https://nrepl.org/nrepl/installation.html#jvmti
                      "-Duser.timezone=UTC"
                      "-XX:+UseZGC"
                      ;; ZGenerational will be the default in future
                      ;; so this won't need to be specified
                      "-XX:+ZGenerational"
                      "--add-opens=java.base/java.nio=ALL-UNNAMED"
                      "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
           :run-dev {:main-opts ["-m" "todomvc.app"]
                     :jvm-opts  ["-Dhifi.profile=dev"]}
           :neil    {:project {:name    hifi/todomvc
                               :version "0.0.1"}}
           :build   {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.9"
                                                                 :git/sha "e405aac"}
                                  slipset/deps-deploy           {:mvn/version "0.2.2"}}
                     :ns-default build}}}
