**/db/
!.github
!.gitignore
.clj-kondo
!.clj-kondo/config.edn
!.clj-kondo/app/*
!.env.edn
*.md
!README.md
!LICENSE.md
tajrget
extra/
demo/resources/public/datastar@1.0.0-beta.11.js
**/.portal/
**/datomic/storage/
**/target
archive
.hifi-kaocha.edn
.lsp
.nrepl-port
.cpcache
.clojure-mcp
.claude
.direnv
libs/hifi-cli/new-test
