{:paths ["src" "resources"]
 :deps  {;; Hyperlith is for Immediate CRUD (HIFICRUD)
         org.clojure/clojure         {:mvn/version "1.12.0"}
         hyperlith/hyperlith         {:local/root "../hyperlith" :exclusions [http-kit/http-kit]}
         http-kit/http-kit           {:mvn/version "2.9.0-beta1"}
         org.xerial/sqlite-jdbc      {:mvn/version "3.49.1.0"}
         io.replikativ/datahike      {:mvn/version "0.6.1595"}
         io.replikativ/datahike-jdbc {:mvn/version "0.3.49" :exclusions [io.replikativ/datahike]}}

 :aliases {:dev   {:extra-paths ["dev"]
                   :extra-deps  {djblue/portal {:mvn/version "0.59.0"}}
                   :jvm-opts
                   ["-Duser.timezone=UTC"
                    "-XX:+UseZGC"
                    ;; ZGenerational will be the default in future
                    ;; so this won't need to be specified
                    "-XX:+ZGenerational"
                    "--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
           :build {:deps       {io.github.clojure/tools.build
                                {:git/tag "v0.10.5" :git/sha "2a21b7a"}}
                   :ns-default build}}}
