---
#TODO(hifi-cli): add beginner documentation to this yaml file
creation_rules:
  - path_regex: \.dev\.sops.edn$
    key_groups:
      - age:
          - {{age-public-key}} # stored in {{age-keys-txt-path}}
