{:hifi/application                {{name}}
 :secrets                         #hifi/sops #profile {:dev "secrets.dev.sops.edn" :default "secrets.prod.sops.edn"}
 :hifi/root-key                   #or [#ref [:secrets :hifi/root-key] #hifi/secret #env "HIFI_ROOT_KEY"]
 :hifi.http/server                {:host "127.0.0.1" :port 3000}
 :hifi.http/root-handler          {:reload-per-request? #profile {:dev true :default false}}
 :hifi/assets                     #:hifi.assets{:paths ["assets"]}}
