{:hifi/application           {{name}}
 :hifi/plugins               [hifi.web/plugin
                              hifi.repl/plugin
                              hifi.assets/plugin
                              {{top/ns}}.{{main/ns}}/app]
 :secrets                    #hifi/sops #profile {:dev "secrets.dev.sops.edn" :default "secrets.prod.sops.edn"}
 :hifi/root-key              {:key #or [#ref [:secrets :hifi/root-key] #hifi/secret #env "HIFI_ROOT_KEY"]}
 :hifi.web/server           {:host "127.0.0.1" :port 3000}
 :hifi.web/root-handler     {:reload-per-request? #profile {:dev true :default false}}
 :hifi/assets                {:hifi.assets/paths ["assets"]}}
