{:paths ["src" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.12.2"}
         hifi/core           {:local/root "../../libs/hifi-core"}}
 :aliases {:dev   {:extra-paths ["dev"]
                   :extra-deps  {hifi/dev {:local/root "../../libs/hifi-dev"}}
                   :jvm-opts
                   ["-Dhifi.profile=dev"
                    "-Djdk.attach.allowAttachSelf" ;; https://nrepl.org/nrepl/installation.html#jvmti
                    "-Duser.timezone=UTC"
                    "-XX:+UseZGC"
                    "--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}}}
