@import "tailwindcss" source(none);
@source "./main.css";
@source "../../src/app";

/* this makes dark only active when html has .dark class */
/* we need to fully support dark mode everywhere before removing this */
@custom-variant dark (&:where(.dark, .dark *));
/*@custom-variant dark (&:is(.dark *));*/

@import "./theme-graphite.css";
/* @import "./theme-shad.css"; */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/************/

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility cloak {
  display: none;
}

@view-transition {
  navigation: auto;
}

html {
  @apply h-full bg-gray-50;
}
body {
  @apply h-full;
}

a.link {
  @apply text-primary underline-offset-4 font-semibold hover:underline;
}

/*--------- Button spinner ---------*/

.btn > .spinner {
  @apply opacity-0 absolute inset-0 m-auto flex items-center justify-center size-5;
}
.btn.spinning > .spinner {
  @apply opacity-100 pointer-events-auto;
}
.btn.spinning > :not(:first-child) {
  /* all other children except the .spinner should be hidden */
  @apply opacity-0 pointer-events-none;
}

/*--------- Notification animations ---------*/

.notification-transition {
  view-transition-name: notification;
}

@keyframes notification-enter {
  from {
    opacity: 0;
    transform: translateY(calc(var(--spacing) * 2));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes notification-exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

::view-transition-old(notification) {
  animation: notification-exit 100ms ease-in forwards;
}

::view-transition-new(notification) {
  animation: notification-enter 300ms ease-out forwards;
}

@media (min-width: 640px) {
  @keyframes notification-enter-sm {
    from {
      opacity: 0;
      transform: translateX(calc(var(--spacing) * 2));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  ::view-transition-new(notification) {
    animation: notification-enter-sm 300ms ease-out forwards;
  }
}

/*--------- Popover Action Menu widget animation ---------*/
@keyframes entry {
  0% {
    filter: blur(4px);
    opacity: 0;
  }
}
.animate-entry {
  --speed: 0.18s;
  --easing: linear(
    0 0%,
    0.0027 3.64%,
    0.0106 7.29%,
    0.0425 14.58%,
    0.0957 21.87%,
    0.1701 29.16%,
    0.2477 35.19%,
    0.3401 41.23%,
    0.5982 55.18%,
    0.7044 61.56%,
    0.7987 68.28%,
    0.875 75%,
    0.9297 81.25%,
    0.9687 87.5%,
    0.9922 93.75%,
    1 100%
  );
  animation: entry var(--speed) both var(--easing);
}

/*--------- Sidebar Expand/Collapse ---------*/

/* TODO: most of these should be moved to `data-class` atributes */
#desktop-sidebar-menu.collapsed {
  @apply lg:w-12;
}

#desktop-sidebar-menu .only-collapsed {
  @apply lg:hidden;
}
#desktop-sidebar-menu.collapsed .only-collapsed {
  display: unset;
}

#desktop-sidebar-menu .only-expanded {
  display: unset;
}

#desktop-sidebar-menu.collapsed .only-expanded {
  @apply lg:hidden;
}

#desktop-sidebar-menu nav {
  @apply mt-6 px-3 text-nowrap;
}

#desktop-sidebar-menu.collapsed nav {
  @apply px-0 mt-10;
}

#desktop-sidebar-menu.collapsed .sidebar-logo-container {
  @apply px-6 pl-2;
}

#app-container.app_container_wide {
  @apply pl-12;
}

/*--------- Flyout Menu ---------*/

dialog.slide-out {
  --_duration: 200ms;
  --_card-inset: 0rem;
  --ease-in-out-5: cubic-bezier(0.9, 0, 0.1, 1);
  --ease-in-5: cubic-bezier(1, 0, 1, 1);
  --ease-2: cubic-bezier(0.25, 0, 0.4, 1);
  --ease-4: cubic-bezier(0.25, 0, 0.2, 1);
  transition:
    display var(--_duration) allow-discrete,
    overlay var(--_duration) allow-discrete;

  &::backdrop {
    transition: opacity var(--_duration) var(--ease-4);
    @apply bg-gray-600/0;
  }
  > section {
    @media (prefers-reduced-motion: reduce) {
      transition: opacity var(--_duration) var(--ease-2);
      opacity: 0;
    }

    @media (prefers-reduced-motion: no-preference) {
      transition: translate var(--_duration) var(--ease-in-out-5);
      translate: calc((100% + var(--_card-inset)) * -1) 0;
    }

    block-size: calc(100% - (var(--_card-inset) * 2));
    margin-block: var(--_card-inset);
    margin-inline-start: var(--_card-inset);
  }

  &:popover-open,
  &[open] {
    &,
    &::backdrop {
      @apply bg-gray-600/75;
    }
    & > section {
      opacity: 1;
      translate: 0;
    }
  }

  @starting-style {
    &:popover-open,
    &:popover-open::backdrop,
    &[open],
    &[open]::backdrop {
      @apply bg-gray-600/0;
    }

    &:popover-open > section,
    &[open] > section {
      opacity: 0;
      translate: calc((100% + var(--_card-inset)) * -1) 0;
    }
  }
}
