{:paths ["src"]
 :deps  {nrepl/nrepl                   {:mvn/version "1.3.1"}
         cider/cider-nrepl             {:mvn/version "0.55.7"}
         refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}
         djblue/portal                 {:mvn/version "0.59.1"}
         lambdaisland/ansi             {:mvn/version "0.2.37"}
         io.github.tonsky/clj-reload   {:mvn/version "0.9.8"}
         io.github.paintparty/bling    {:mvn/version "0.8.5"}}}
