{:paths ["src"]
 :deps  {nrepl/nrepl                   {:mvn/version "1.4.0"}
         cider/cider-nrepl             {:mvn/version "0.57.0"}
         refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}
         djblue/portal                 {:mvn/version "0.61.0"}
         lambdaisland/ansi             {:mvn/version "0.2.37"}
         io.github.tonsky/clj-reload   {:mvn/version "1.0.0"}
         io.github.paintparty/bling    {:mvn/version "0.8.8"}}}
