{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure                       {:mvn/version "1.12.3"}
           hifi/core                                 {:local/root "../hifi-core"}
           hifi/config                               {:local/root "../hifi-config"}
           hifi/error                                {:local/root "../hifi-error"}
           com.github.clj-easy/graal-build-time      {:mvn/version "1.0.5"}
           babashka/fs                               {:mvn/version "0.5.27"}
           cider/cider-nrepl                         {:mvn/version "0.57.0"}
           com.widdindustries/time-literals          {:mvn/version "0.1.10"}
           io.github.seancorfield/deps-new           {:git/tag "v0.10.1"
                                                      :git/sha "a90029c25a10e40962a13a483338c812675366ee"}
           rewrite-clj/rewrite-clj                   {:mvn/version "1.2.50"}
           io.github.paintparty/bling                {:mvn/version "0.8.8"}
           lambdaisland/deep-diff2                   {:mvn/version "2.12.219"}
           lambdaisland/kaocha                       {:mvn/version "1.91.1392"}
           mvxcvi/puget                              {:mvn/version "1.3.4"}
           nrepl/nrepl                               {:mvn/version "1.4.0"}
           org.babashka/cli                          {:mvn/version "0.8.66"}
           org.clojure/tools.cli                     {:mvn/version "1.1.230"}
           party.donut/system                        {:mvn/version "1.0.257"}
           com.exceptionfactory.jagged/jagged-x25519 {:mvn/version "1.0.0"}
           clj-commons/clj-yaml                      {:mvn/version "1.0.29"}}
 :aliases {}}
