{:paths   ["src" "resources" "target/resources"]
 :deps    {;; Hyperlith is for Immediate CRUD (HIFICRUD)
           org.clojure/clojure         {:mvn/version "1.12.2"}
           datastar/expressions        {:git/url "https://github.com/ramblurr/datastar-expressions/"
                                        :git/sha "0cf32202c0c9bef106e8635219259affd874fa00"}
           com.datomic/peer            {:mvn/version "1.0.7394"
                                        :exclusions  [org.slf4j/slf4j-api]}
           org.slf4j/slf4j-api         {:mvn/version "2.0.17"}
           org.xerial/sqlite-jdbc      {:mvn/version "3.50.3.0"}
           org.flatland/ordered        {:mvn/version "1.15.12"}
           com.taoensso/tempel         {:mvn/version "1.0.0-RC1"}
           com.taoensso/telemere       {:mvn/version "1.1.0"}
           com.taoensso/telemere-slf4j {:mvn/version "1.1.0"}
           com.lambdaworks/scrypt      {:mvn/version "1.4.0"}
           io.github.paintparty/bling  {:mvn/version "0.8.8"}
           hifi/system                 {:local/root "../../libs/hifi-system"}
           hifi/datomic                {:local/root "../../libs/hifi-datomic"}
           hifi/html                   {:local/root "../../libs/hifi-html"}}
 :aliases {:dev   {:extra-paths ["dev"]
                   :extra-deps  {hifi/dev {:local/root "../../libs/hifi-dev"}}
                   :jvm-opts
                   ["-Dguardrails.enabled=true"
                    "-Dhifi.profile=dev"
                    "-Djdk.attach.allowAttachSelf" ;; https://nrepl.org/nrepl/installation.html#jvmti
                    "-Duser.timezone=UTC"
                    "-XX:+UseZGC"
                    ;; ZGenerational will be the default in future
                    ;; so this won't need to be specified
                    "-XX:+ZGenerational"
                    "--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
           :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.10" :git/sha "deedd62"}
                                babashka/process              {:mvn/version "0.6.23"}
                                hifi/dev-tasks                {:local/root "../../libs/hifi-dev-tasks"}}
                   :ns-default build}}}
